:root {
    --color-principal: black;
    --ancho-principal: 350px;
}

.titulo {
    color: var(--color-principal);
}

.footer {
    color: var(--color-principal);
}

.contenedor {
    background-color: greenyellow;
    padding: 1rem;
    max-width: var(--ancho-principal);
}